*{
    margin:0px;
    padding:0px;
}
.bg{
    background-color:lightblue;
    height:1000px;
}
.topmost{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    height:40px;
}
.top{
    display:flex;
    justify-content: space-evenly;
}
.first{
    height:250px;
    width:210px;
    /* border:2px solid red; */
    background-color: white;
    /* margin-top:35px; */
    border-radius:10px 10px 10px 10px;
}
.sec{
    display:flex;
    justify-content:center;
    /* flex-wrap:wrap; */
    gap:15px;
}
.sec1{
    width:250px;
    height:120px;
    background-color: white;
    /* border:2px solid red; */
    margin-bottom:15px;  
    border-radius:10px 10px 10px 10px;
}
.third{
    /* border:2px solid red; */
    height:250px;
    width:300px;
    /* margin-top:40px; */
    border-radius:10px 10px 10px 10px;
    background-color:rgba(0, 0, 255, 0.344);
}
.main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:40px;
}
.main1{
    height:100px;
    width:850px;
    /* border:2px solid red; */
    border-radius:10px 10px 10px 10px;
    background-color: white;
}
.main2{
    height:150px;
    width:300px;
    /* border:2px solid red; */
    margin-top:30px;
    border-radius:10px 10px 10px 10px;
    background-color: white;
}
.section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:20px;
}
.section1{
    height:280px;
    width:850px;
    /* border:2px solid red; */
    margin-top:10px;
    border-radius:10px 10px 10px 10px;
    background-color: white;
}
.section2{
    height:250px;
    width:300px;
    background-color: white;
    /* border:2px solid red; */
    margin-top:40px;
    border-radius:10px 10px 10px 10px;
 }